.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body {
    font-family: 'Open Sans', serif;
}

.faction {
    width: 180px;
    margin: 0 15px;
}
