<div id="search">
<form method="GET">

    <div class="form-group">
        <label for="exampleInputEmail1">Tìm kiếm</label>
        <input type="text" class="form-control" name="q" id="search-input"
            placeholder="Tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>