<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <p>Khóa học >  {{course.name}}</p>
            <div class="mt-6">
                <p style="font-size: 35px;">{{course.name}}</p>
            </div>
        </div>
        <div class="col-lg-3">
            <button> LEARN</button>
        </div>
    </div>    
</div>